# Entornos virtuales
playlistcsv-env/
env/
venv/
.venv/
*.env

# Carpeta de sistema
ignore/

# Archivos de sistema
.DS_Store
Thumbs.db

# Cachés de Python
__pycache__/
*.py[cod]
*.pyc
modules/__init__.py
# Logs y bases de datos
*.log
*.sqlite3

# Archivos de configuración de IDEs
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml
*.toml
